 <div class="page-header" dir="rtl">
    <h1>استحقاق المدفوعات</h1>


</div>

<table class="table table-striped table-bordered table-condensed" dir="rtl">
<thead>
<tr>
  <th colspan="1" class="center">القيمه</th>
  <th colspan="1" class="center">تستحق بعد</th>
  <th colspan="1" class="center"> من تاريخ</th>
  <th colspan="1" class="action">Actions</th>
  <th></th>
</tr>
</thead>
<tbody>
    <% unless @invoicepayments.empty? %>
    <% @invoicepayments.each do |invoicepayment| %>
      <tr>
        <td><%= invoicepayment.amount%></td>
        <td><%= invoicepayment.due_from %></td>
        <td><%= invoicepayment.due_after %></td>       
        <td><%= link_to 'Edit', edit_invoice_payment_scheduel_path(invoicepayment) %>
        <%= link_to 'Delete', invoice_payment_scheduel_path(invoicepayment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

          <!-- This currently works but smells -->
        </td>
        <td></td>
      </tr>
    <% end %>
    <% end %>

</tbody>
</table>
  <div class="contextual">
    <%= link_to(new_invoice_payment_scheduel_path, class: "btn btn-success") do %>
      اضافه فاتوره
    <% end %>
  </div>
