 <div class="page-header" dir="rtl">
    <h1>امر شغل</h1>

  <div class="contextual">
    <%= link_to(new_job_order_path, class: "btn btn-success") do %>
      اضافه امر شغل <i class="icon-plus icon-white"></i>
    <% end %>
  </div>
</div>

<table class="table table-striped table-bordered table-condensed" dir="rtl">
<thead>
<tr>
  <th colspan="1" class="center">مسلسل</th>
  <th colspan="1" class="center">التاريخ</th>
  <th colspan="1" class="center">الصنف</th>
  <th colspan="1" class="center">الورشه</th>
  <th colspan="1" class="center">النول</th>
  <th colspan="1" class="center">العامل</th>
  <th colspan="1" class="action">Actions</th>
  <th></th>
</tr>
</thead>
<tbody>
    <% unless @job_orders.empty? %>
    <% @job_orders.each do |job_order| %>
      <tr>
        <td><%= job_order.serial %></td>
        <td><%= job_order.date %></td>
        <td><%= job_order.item %></td>
        <td><%= job_order.workshop %></td>
        <td><%= job_order.loom %></td>
        <td><%= job_order.worker %></td>        
        
        <td><%= link_to 'تعديل', edit_job_order_path(job_order) %>
        <%= link_to 'مسح', job_order_path(job_order),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </td>
        <td></td>
      </tr>
    <% end %>
    <% end %>

</tbody>
</table>
