 <%= form_for @maindesigne, :html => {:class => "form-horizontal center"} do |f| %>
  <% if @maindesigne.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@maindesigne.errors.count, "error") %> prohibited
        this maindesign from being saved:
      </h2>
      <ul>
        <% @maindesigne.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
        <%= f.label "كود التصميم:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :design_code, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "الاسم:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "الوصف", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :description, class: "form-control" %>
        </div>
      </div>
  
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>   
 <% end %>