 <div class="page-header" dir="rtl">
    <h1>النول</h1>

  <div class="contextual">
    <%= link_to(new_loom_path, class: "btn btn-success") do %>
      اضافه نول  <i class="icon-plus icon-white"></i>
    <% end %>
  </div>
</div>

<table class="table table-striped table-bordered table-condensed" dir="rtl">
<thead>
<tr>
  <th colspan="1" class="center">اسم الورشه</th>
  <th colspan="1" class="center">رقم النول</th>

  <th colspan="1" class="action">Actions</th>
</tr>
</thead>
<tbody>
    <% unless @looms.empty? %>
    <% @looms.each do |loom| %>
      <tr>
        <td><%= loom.reference %></td>
        <td><%= loom.workshop %></td>       
        <td><%= link_to 'Edit', edit_loom_path(loom) %>
        <%= link_to 'Delete', loom_path(loom),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

          <!-- This currently works but smells -->
        </td>
      </tr>
    <% end %>
    <% end %>

</tbody>
</table>
