 <%= form_for @worker, :html => {:class => "form-horizontal center"} do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@worker.errors.count, "error") %> prohibited
        this worker from being saved:
      </h2>
      <ul>
        <% @worker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
        <%= f.label "كود العامل:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :code, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "الاسم:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address, "العنوان:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label "التليفون:", class: "col-md-4 control-label" %>
        <div class="col-md-8">  
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label  "الفئه:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :category, class: "form-control" %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label "وحده الحساب:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :rate_unit, class: "form-control" %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label  "المبلغ:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :rate_amount, class: "form-control" %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label "تم فصله:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :fired, class: "form-control" %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label  "تاريخ الفصل:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :firing_date, class: "form-control" %>
        </div>
      </div>
  
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>   
 <% end %>