 <div class="page-header">
    <h1>العمال</h1>

  <div class="contextual">
    <%= link_to(new_worker_path, class: "btn btn-success") do %>
      اضافه عامل<i class="icon-plus icon-white"></i>
    <% end %>
  </div>
</div>

<table class="table table-striped table-bordered table-condensed">
<thead>
<tr>
  <th colspan="1" class="center">كود العامل</th>
  <th colspan="1" class="center">الاسم</th>
  <th colspan="1" class="center">العنوان</th>
  <th colspan="1" class="center">التليفون</th>
  <th colspan="1" class="center">الفئه</th>
  <th colspan="1" class="center">معدل الوحده</th>
  <th colspan="1" class="center">مددل المبلغ</th>
  <th colspan="1" class="center">تم الفصل</th>
  <th colspan="1" class="center">تاريخ الفص</th>

  <th colspan="1" class="action">Actions</th>
</tr>
</thead>
<tbody>
    <% unless @workers.empty? %>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.code %></td>
        <td><%= worker.name %></td>
        <td><%= worker.address %></td>
        <td><%= worker.phone %></td>
        <td><%= worker.category %></td> 
        <td><%= worker.rate_unit%></td>        
        <td><%= worker.rate_amount %></td>        
        <td><%= worker.fired %></td>        
        <td><%= worker.firing_date %></td>        

        <td><%= link_to 'تعديل', edit_worker_path(worker) %>
        <%= link_to 'مسح', worker_path(worker),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

          <!-- This currently works but smells -->
        </td>
      </tr>
    <% end %>
    <% end %>

</tbody>
</table>
