 <div class="page-header">
    <h1>اﻟﻤﻨﺎﻃﻖ</h1>


</div>

<table class="table table-striped table-bordered table-condensed">
<thead>
<tr>
  <th colspan="1" class="center">id</th>
  <th colspan="1" class="center">اﺳﻢ اﻟﻤﻨﻄﻘﻪ </th>
  <th colspan="1" class="action">Actions</th>
  <th></th>
</tr>
</thead>
<tbody>
    <% unless @locations.empty? %>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= location.name %></td>       
        <td><%= link_to 'تعديل', edit_location_path(location) %>
        <%= link_to 'مسح', location_path(location),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </td>
        <td></td>
      </tr>
    <% end %>
    <% end %>

</tbody>
</table>
  <div class="contextual">
    <%= link_to(new_location_path, class: "btn btn-success") do %>
      اﺿﺎﻓﻪ ﻣﻨﻄﻘجديده <i class="icon-plus icon-white"></i>
    <% end %>
  </div>
